flows.json
[{"id":"dada18ed.b8aa88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d133c6d.87e3f4","type":"function","z":"dada18ed.b8aa88","name":"PreToken","func":"global.set(\"am\",msg.payload.am)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"th\",msg.payload.th)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"d\",msg.payload.d)\nvar apikey=\"Km_kXLKIgjx1z75iyHuh9xMDL4dgb1AROhWvu7KjkCZg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["37f910b5.10a22"]]},{"id":"37f910b5.10a22","type":"http request","z":"dada18ed.b8aa88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":220,"wires":[["5aa8d014.124ce"]]},{"id":"8c1296ca.43bc98","type":"debug","z":"dada18ed.b8aa88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":480,"wires":[]},{"id":"5aa8d014.124ce","type":"function","z":"dada18ed.b8aa88","name":"Pre Prediction","func":"var am=global.get(\"am\")\nvar bmi=global.get(\"bmi\")\nvar pol=global.get(\"pol\")\nvar dip=global.get(\"dip\")\nvar hiv=global.get(\"hiv\")\nvar gdp=global.get(\"gdp\")\nvar th=global.get(\"th\")\nvar ic=global.get(\"ic\")\nvar s=global.get(\"s\")\nvar d=global.get(\"d\")\nvar dev=0\nvar dep=1\nif(d===true){\n    dev=1\n    dep=0\n}\nvar token=msg.payload.access_token\nvar instance_id=\"396ebf4c-771e-4603-8628-12e79988fe1b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Adult Mortality', ' BMI ', 'Polio', 'Diphtheria ', ' HIV/AIDS', 'GDP', ' thinness  1-19 years', 'Income composition of resources', 'Schooling', 'Developed', 'Developing'], \"values\": [[am,bmi,pol,dip,hiv,gdp,th,ic,s,dev,dep]]}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["9ffcce92.edc93"]]},{"id":"9ffcce92.edc93","type":"http request","z":"dada18ed.b8aa88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/396ebf4c-771e-4603-8628-12e79988fe1b/deployments/2a838025-271d-47d9-804f-e7f7a9e20718/online","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":260,"wires":[["97e8474b.8adc28"]]},{"id":"413a3f09.9b4bc","type":"ui_form","z":"dada18ed.b8aa88","name":"","label":"","group":"5bbf15fe.5370ac","order":1,"width":"0","height":"0","options":[{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"th","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null},{"label":"Developed Country","value":"d","type":"switch","required":true,"rows":null}],"formValue":{"am":"","bmi":"","pol":"","dip":"","hiv":"","gdp":"","th":"","ic":"","s":"","d":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":380,"wires":[["3d133c6d.87e3f4"]]},{"id":"7343035b.97f85c","type":"ui_text","z":"dada18ed.b8aa88","group":"5bbf15fe.5370ac","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"97e8474b.8adc28","type":"function","z":"dada18ed.b8aa88","name":"","func":"var i = parseInt(msg.payload.values[0][0])\nvar rmse = 3.87754696\nvar l = Math.round(i-rmse)\nvar h = Math.round(i+rmse)\nmsg.payload = l.toString()+\" - \"+h.toString()+\" years\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["8c1296ca.43bc98","7343035b.97f85c"]]},{"id":"5bbf15fe.5370ac","type":"ui_group","z":"","name":"Enter Details","tab":"50ce57a4.0565c8","order":1,"disp":true,"width":"8","collapse":false},{"id":"50ce57a4.0565c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]